/*
Custom Css
*/

/* body {
    background-color: black !important;
} */

.customBack {
    /* background: url(../img/img2.jpeg); */
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.customImg {
max-height: 20vh;
position: fixed;
  right: 10%;
  bottom: 10%;
}